@import '../../index.scss';

.jumbotron {
	min-height: 300px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	.text-shadow {
		text-shadow: $header-shadow;
	}
	&.text-white {color: white;}	

	h1 {
		margin: $header-margin;
		padding: 0;		
		color: white;
		text-shadow: $header-shadow;
	}
}