$body-color: #666;
$body-font: 'Roboto', Arial;
$header-font: 'Passion One';
$header-color: #343434;
$header-margin: 0 0 1rem 0;

$nav-bg: #343a40;

$border-color: $header-color;

$cardmargin: 0 0 2rem 0;